@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&display=swap');
body {
    font-family: Open Sans, Permanent Marker, sans-serif;
}

#content {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 50px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
    padding: 10px;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #4287F5;
    font-family: Open Sans, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #04509f;
}
nav a:hover {
    background-color: #4287F5;
    color: white;
}
.book, .join {
    background-color: #FB8500;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
}
.book {
    background-color: #4287F5;
    color: white;
}
.book:hover, .join:hover {
    background-color: #4287F5;
    color: white;
}
#background {
    background-color: #04509f;
}
.msg {
    background-color: #FB8500;
    color: white;
    line-height: 2em;
}
footer {
    background-color: #04509f;
    color: white;
    margin: 20px;
}
.home-title {
    color: white;
    font-family: Permanent Marker, Open Sans, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    color: white;
    font-family: Permanent Marker, Open Sans, sans-serif;
    font-size: 2em;
}
.msg p {
    color: white;
    font-size: 0.8em;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.icon {
    width: 80px;
    padding: 50px;
}
#hero-img {
    width: 95%;
    padding: 30px;
}
.logo {
    width: 150px;
    padding: 10px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    
.rivers-card {
    margin: 200px;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}