@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap');
body {
    font-family: Montserrat, Orbitron, Helvetica;
    margin: 0;
    background-color: #535353;
    font-size: 20px;
    color: white;
    text-align: center;
}
#content {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}
header {
    background-color: #313131;
    display: grid;
    grid-template-columns: 150px auto;
}
h1 {
    font-family: Orbitron;
    color: #38b6ff;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.explore {
    background-color: #af2222;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
    transition: 0.5s;
}
.explore:hover {
    background-color: #313131;
    color: #38b6ff;
}
#hero-img {
    width: 1200px;
    grid-row: 1/2;
}
.forge-card {
    grid-column: 1/2;
}
.visit {
    color: White;
    grid-row: 3/4;
    grid-column: 1/3;
    z-index: 2;
    padding-top: 300px;
}
/* .visit:hover {
    background-color: #313131;
    color: #38b6ff;
} */
.news-card {
    grid-column: 2/3;
}
.logo {
    width: 225px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 50px;
    margin: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #af2222;
    color: white;
}
#cover-art {
    grid-row: 3/4;
    grid-column: 1/3;
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}
footer {
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}

/* Forge Page */

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid white;
  background-color: #535353;
  width: 30%;
  height: 1000px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: grey;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #af2222;
}

/* Style the tab content */
.tabcontent {
  display: none;
  float: left;
  padding: 0px 12px;
  border: 1px solid white;
  width: 70%;
  border-left: none;
  height: 1000px;
}
#para01 {
    color: White;
    text-align: left;
    /* font-style: italic; */
}
#campaign-pic {
    width: 100%;
    border: 1px solid white;
}
#minigame-pic {
    width: 100%;
    border: 1px solid white;
}
#classic-pic {
    width: 100%;
    border: 1px solid white;
}
h2 {
    font-style: italic;
}