@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap');
body {
    font-family: Montserrat, Orbitron, Helvetica;
}
header {
    background-color: #313131;
    display: grid;
    grid-template-columns: 150px auto;
}
h1 {
    font-family: Orbitron;
    color: #38b6ff;
}
body {
    background-color: #535353;
    font-family: Montserrat, Helvetica;
    font-size: 20px;
    color: white;
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin: 0 auto;
}
.explore {
    background-color: #af2222;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
    transition: 0.5s;
}
.explore:hover {
    background-color: #313131;
    color: #38b6ff;
}
#hero-img {
    width: 1200px;
    grid-row: 1/2;
}
.forge-card {
    grid-column: 1/2;
}
.visit {
    color: white;
}
.news-card {
    grid-column: 2/3;
}
.logo {
    width: 225px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 50px;
    margin: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #af2222;
    color: white;
}
#cover-art {
    grid-row: 3/4;
    grid-column: 1/3;
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}
footer {
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}